body {
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  color: black;
}
.top {
  align-items: center;
  background-color: grey;
  text-align: center;
}

.main {
  display: flex;
  background-color: lightyellow;
  justify-content: space-evenly;
  height: 40vh;
}
.aside {
  display: flex;
  flex-basis: 40%;
  background-color: lightgreen;
  text-align: center;
}

.main1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid white;
  height: 30vh;
  flex-basis: 60%;
  background-color: lightyellow;
  height: 40vh;
}
.more {
  display: flex;
  border: 1px solid white;
  flex-grow: 1;
  height: 10vh;
}
.more1 {
  display: flex;
  justify-content: row;
  border: 1px soldi black;
}
.p1 {
  display: flex;
  background-color: yellow;
  border: 1px soldi black;
  align-items: center;
  margin: 40px;
  height: 10vh;
  width: 30vw;
  justify-content: space-evenly;
}
.foot {
  display: flex;
  background-color: grey;
  justify-content: space-evenly;
  align-items: center;
  height: 20vh;
}
.foot1 {
  display: flex;
  background-color: white;
  border: 1px solid black;
  align-items: center;
  height: 10vh;
  width: 20vw;
}
.p2 {
  display: flex;
  background-color: white;
  border: 1px soldi black;
  align-items: center;
  margin: 40px;
  height: 10vh;
  width: 30vw;
  justify-content: space-evenly;
}

.p3 {
  display: flex;
  align-items: center;
  margin: 140px;
  justify-content: center;
}
.p4 {
  display: flex;
  align-items: center;
  margin: 140px;
  justify-content: center;
  background-color: yellow;
  border: 1px soldi black;
  align-items: center;
  margin: 40px;
  height: 10vh;
  width: 30vw;
}
